html,
body,
div#__next {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.MuiContainer-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
